VITE_FIREBASE_API_KEY="AIzaSyBk-ZAQOg2KBjTdfh9RFqvVpDpOYRLbEFQ"
VITE_FIREBASE_AUTH_DOMAIN="portfolio-92477.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="portfolio-92477"
VITE_FIREBASE_STORAGE_BUCKET="portfolio-92477.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="867434417134"
VITE_FIREBASE_APP_ID="1:867434417134:web:a5c1a51a61740492731cff"
