@import 'tailwindcss';
/* html,body{
  width: 100w;
  background-color: rgb(255, 225, 201);
  color: rgb(252, 79, 145);
} */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}
