@import 'tailwindcss';
html,body{
  width: 100w;
  background-color: rgb(254, 215, 183);
  color: rgb(252, 79, 145);
}
@theme{
  --color-white-50:#d9ecff;
  --colcor-blue-100:#2d2d38;
}
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}
